.HotelCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  height: 100px;
  .HotelIcon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: url('../../../../img/house-icon.png') center no-repeat
      rgba(65, 82, 46, 0.05);
    margin-right: 24px;
  }
  .HotelInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .HotelInfo {
    font-size: 17px;
    font-weight: 300;

    h4 {
      font-size: 17px;
      font-weight: 300;
    }
    .DateInfo {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #878787;
    }
  }

  .HotelPrice {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    .Price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;
      font-weight: 300;
      font-size: 11px;
      color: #878787;
      span {
        display: inline-block;
        font-weight: 300;
        font-size: 17px;
        line-height: 22px;
        // margin-left: 20px;

        color: #424242;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .HotelInfo {
      font-size: 13px;

      h4 {
        font-size: 13px;
      }
      .DateInfo {
        margin-bottom: 5px;
        font-size: 11px;
        line-height: 19px;
      }
    }

    .HotelPrice {
      .Price {
        width: 100px;
        font-size: 11px;
        span {
          font-size: 13px;
          line-height: 19px;
        }
      }
    }
  }
  @media screen and (max-width: 660px) {
    .HotelIcon {
      display: none;
    }
  }
}
