.Photos {
  overflow-y: hidden;
  width: 100%;
  margin-bottom: 28px;
  .LocationsPhotosBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .LocationPhoto {
      min-width: 164px;
      height: 149px;
      margin-right: 10px;
      border-radius: 10px;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
