.SearchInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  .Location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      color: rgba(167, 167, 167, 1);
      font-weight: 300;
      font-size: 25px;
    }
  }
}
