.HotelCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  height: 100px;
  .HotelIcon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: url('../../../../img/house-icon.png') center no-repeat
      rgba(65, 82, 46, 0.05);
    margin-right: 24px;
  }
  .HotelInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .HotelInfo {
    font-size: 17px;
    font-weight: 300;
    h4 {
      font-size: 17px;
      font-weight: 300;
    }
  }
}
