.HotelCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  height: 130px;
  .HotelInfoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .HotelInfo {
    font-size: 17px;
    font-weight: 300;
    h4 {
      font-size: 17px;
      font-weight: 300;
    }
    .DateInfo {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #878787;
    }
  }
  .HotelPrice {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    .Price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;
      font-weight: 300;
      font-size: 11px;
      color: #878787;
      span {
        display: inline-block;
        font-weight: 300;
        font-size: 17px;
        line-height: 22px;
        // margin-left: 20px;

        color: #424242;
      }
    }
  }
}
